body {
    background: #FFF;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/Preloader_3.gif) center no-repeat #fff;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}
.logo {
    width: 722px;
    /*height: 450px;*/
    /* To keep this project compact, we show a base64-encoded image, not a real file. */
    /* Excellent base64-encoders and more information here: http://base64image.org and http://www.base64-image.de */
    margin: auto;
}
.support-button {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    width: 233px;
    height: 233px;
}
.container {
    max-width: 960px;
    /*border: 1px solid #ccc;*/
    padding: 20px;
    /*margin: 30px 0 30px 0;*/
}
.container a {
    color: #454545;
}
.container table {
    font-size: 11px;
    margin-top: 20px;
}
.container table thead td {
    background-color: #f5f5f5;
    padding: 4px 10px;
}
.container table tbody td {
    padding: 4px 10px;
}
.container .box {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 30px;
}
.container input {
    background-color: #f5f5f5;
    border: 0;
    padding: 5px 10px;
}
.container input[type="submit"] {
    background-color: #ccc;
    cursor: pointer;
}
.container input[type="submit"]:hover {
    background-color: #222;
    color: #fff;
}
.container button {
    background-color: #ccc;
    border: 0;
    padding: 5px 10px;
    cursor: pointer;
}
.container button:hover {
    background-color: #222;
    color: #fff;
}



/* navigation dropdown menu */
.navigation, .navigation-submenu {
    display: inline-block;
    list-style: none;
    /* btw this is necessary to remove most browsers's "hidden" default <ul> intent */
    margin: 0;
    padding: 0;
}
/* TODO */
.navigation {
}
.navigation.right {
    float: right;
}
.navigation li {
    float: left;
    margin-right: 5px;
}
.navigation .navigation-submenu {
    display: none;
}
.navigation li a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    border: 2px solid #454545;
    background: #454545;
    color: #fff;
    float:none;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.navigation li:hover .navigation-submenu {
    display: block;
    position: absolute;
    float: left;
}
.navigation li:hover li,
.navigation li:hover a {
    float: none;
}
.navigation li a:hover,
.navigation li:hover li a:hover {
    background: #fff;
    color: #454545;
}

.navigation > li.active a {
    background: #fff;
    color: #454545;
}
.navigation > li.active li a {
    background: #454545;
    color: #fff;
}

/* overview */
.overview-table img {
    width: 40px;
    height: 40px;
}

/* feedback boxes */
.feedback {
    padding: 30px;
    margin-bottom: 10px;
}
.feedback.success {
    color: #558f2d;
    background-color: #ddf2c0;
}
.feedback.error {
    color: #ff7272;
    background-color: #ffe5e5;
}
.feedback.info {
    color: #00529B;
    background-color: #BDE5F8;
}

.header_right_box {
    float: right;
}

/* login screen */
.login-page-box {
    display: table;
    width: 100%;
}
.login-page-box .table-wrapper {
    display: table-row;
}

.login-box {
    display: table-cell;
    margin: 0;
    color: #777;
    background-color: #f4f3f1;
    padding: 20px 50px 45px 50px;
    width: 49%;
    box-sizing: border-box;
    font-weight: 400;
    text-transform: uppercase;
}
.login-box h2 {
    color: #252525;
}
.login-box input[type="text"],
.login-box input[type="password"] {
    font-family: Arial, sans-serif;
    color: #252525;
    background-color: #ffffff;
    padding: 15px 20px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box; /* modern way to say width:100% without padding */
    /*text-transform: uppercase;*/
}
.login-box input[type="submit"] {
    color: #777;
    background-color: transparent;
    border: 2px solid #777;
    padding: 15px 20px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box; /* modern way to say width:100% without padding */
    text-transform: uppercase;
}
.login-box input[type="submit"]:hover {
    color: #fff;
    border-color: #252525;
    background-color: #252525;
}
.login-box .remember-me-label {
    display: block;
    margin-bottom: 10px;
}
.login-box .link-forgot-my-password {
    display: block;
    text-align: right;
}
.login-box .link-forgot-my-password a {
    color: #777;
    text-decoration: none;
}
.login-box .link-forgot-my-password a:hover {
    text-decoration: underline;
}
.login-box ::-webkit-input-placeholder { color: #777; opacity: 0.5; }
.login-box ::-moz-placeholder { color: #777; opacity: 0.5; }
.login-box :-ms-input-placeholder { color: #777; opacity: 0.5; }
.login-box input:-moz-placeholder { color: #777; opacity: 0.5; }

.register-box {
    display: table-cell;
    color: #fff;
    background-color: #252525;
    padding: 20px 50px 45px 50px;
    width: 49%;
    box-sizing: border-box;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
}
.register-box h2 {
    color: #fff;
}
.register-box a {
    width: 100%;
    display: block;
    box-sizing: border-box; /* modern way to say width:100% without padding */
    background-color: transparent;
    border: 2px solid #fff;
    padding: 15px 20px;
    margin-bottom: 10px;
    text-decoration: none;
    text-align: center;
    color: #fff;
}
.register-box a:hover {
    background-color: #ffffff;
    color: #252525;
}

/* error page */
.red-text {
    color: red;
}
















.btn:hover,
.btn:focus,
.btn:active{
    outline: 0 !important;
}
/* entire container, keeps perspective */
.card-container {
	  -webkit-perspective: 800px;
   -moz-perspective: 800px;
     -o-perspective: 800px;
        perspective: 800px;
        margin-bottom: 30px;
}
/* flip the pane when hovered */
.card-container:not(.manual-flip):hover .card,
.card-container.hover.manual-flip .card{
	-webkit-transform: rotateY( 180deg );
-moz-transform: rotateY( 180deg );
 -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}


.card-container.static:hover .card,
.card-container.static.hover .card {
	-webkit-transform: none;
-moz-transform: none;
 -o-transform: none;
    transform: none;
}
/* flip speed goes here */
.card {
	 -webkit-transition: -webkit-transform .5s;
   -moz-transition: -moz-transform .5s;
     -o-transition: -o-transform .5s;
        transition: transform .5s;
-webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
     -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
     -o-backface-visibility: hidden;
        backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #FFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
		-webkit-transform: rotateY( 180deg );
   -moz-transform: rotateY( 180deg );
     -o-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
        z-index: 3;
}

.back .btn-simple{
    position: absolute;
    left: 6px;
    bottom: 9px;
}
/*        Style       */


.card{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    color: #444444;
}
.card-container, .front, .back {
	width: 100%;
	height: 335px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);
-moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);
box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);
}
.card .cover{
    height: 65px;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    /*background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);*/
}
.card .cover h3 {
    color: #FFF;
}
.card .cover img{
    width: 100%;
}
.card .user{
    border-radius: 50%;
    display: block;
    height: 105px;
    margin: -55px auto 0;
    overflow: hidden;
    width: 120px;
}
.card .user img{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #FFFFFF;
    width: 100%;
}

.card .content{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    /*padding: 10px 20px 20px;*/
}
.card .content .main {
    min-height: 220px;
}
.card .back .content .main {
    height: 185px;
}
.card .name {
	font-family: 'Arima Madurai', cursive;
    font-size: 22px;
    line-height: 28px;
    margin: 10px 0 0 10px;
    text-align: left;
    text-transform: capitalize;
}
.card h5{
    margin: 5px 0;
    font-weight: 400;
    line-height: 20px;
}
.card .profession{
    color: #BBB;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 10px;
}
.card .footer {
    border-top: 1px solid #EEEEEE;
    color: #999999;
    margin: 0px;
    padding: 15px 0 0;
    text-align: center;
}
.card .footer .social-links{
    font-size: 18px;
}
.card .footer .social-links a{
    margin: 0 7px;
}
.card .footer .btn-simple{
    margin-top: -6px;
}
.card .header {
    padding: 15px 20px;
    height: 90px;
}
.card .motto{
		font-family: 'Arima Madurai', cursive;
    border-bottom: 1px solid #EEEEEE;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    text-align: center;
}

.card .stats-container{
	width: 100%;
	/*margin-top: 30px;*/
}
.card .stats{
	display: block;
	float: left;
	width: 33.333333%;
	text-align: center;
}

.card .stats{
	border-right: 1px solid #EEEEEE;
}
/*.card .stats:last-child{
	border-left: 1px solid #EEEEEE;
}*/
.card .stats h4{
	font-family: 'Arima Madurai', cursive;
	font-weight: bold;
	margin-bottom: 5px;
}
.card .stats p{
	color: #777777;
}
/*      Just for presentation        */

.title{
    color: #506A85;
    text-align: center;
    font-weight: 300;
    font-size: 44px;
    margin-bottom: 90px;
    line-height: 90%;
}
.title small{
    font-size: 17px;
    color: #999;
    text-transform: uppercase;
    margin: 0;
}
.space-30{
	height: 30px;
	display: block;
}
.space-50{
    height: 50px;
    display: block;
}
.space-200{
    height: 200px;
    display: block;
}
.white-board{
    background-color: #FFFFFF;
    min-height: 200px;
    padding: 60px 60px 20px;
}
.ct-heart{
    color: #F74933;
}

 pre.prettyprint{
    background-color: #ffffff;
    border: 1px solid #999;
    margin-top: 20px;
    padding: 20px;
    text-align: left;
}
.atv, .str{
    color: #05AE0E;
}
.tag, .pln, .kwd{
     color: #3472F7;
}
.atn{
  color: #2C93FF;
}
.pln{
   color: #333;
}
.com{
    color: #999;
}

.btn-simple{
    opacity: .8;
    color: #666666;
    background-color: transparent;
}

.btn-simple:hover,
.btn-simple:focus{
    background-color: transparent;
    box-shadow: none;
    opacity: 1;
}
.btn-simple i{
    font-size: 16px;
}

.navbar-brand-logo{
    padding: 0;
}
.navbar-brand-logo .logo{
    border: 1px solid #333333;
    border-radius: 50%;
    float: left;
    overflow: hidden;
    width: 60px;
}
.navbar .navbar-brand-logo .brand{
    color: #FFFFFF;
    float: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 10px;
    margin-top: 10px;
    width: 60px;
}
.navbar-default .navbar-brand-logo .brand{
    color: #555;
}


/*       Fix bug for IE      */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .front, .back{
        -ms-backface-visibility: visible;
        backface-visibility: visible;
    }

    .back {
        visibility: hidden;
        -ms-transition: all 0.2s cubic-bezier(.92,.01,.83,.67);
    }
    .front{
        z-index: 4;
    }
    .card-container:not(.manual-flip):hover .back,
    .card-container.manual-flip.hover .back{
        z-index: 5;
        visibility: visible;
    }
}

.club {
    /*background-position: -900px -900px;*/
    bottom: 10px;
    box-sizing: border-box;
    color: rgb(36, 36, 36);
    display: block;
    height: 50px;
    width: 50px;
    /*left: 5px;*/
    position: absolute;
    right: 10px;
    text-align: left;
    text-size-adjust: 100%;
    top: 7px;
    column-rule-color: rgb(36, 36, 36);
    perspective-origin: 50px 50px;
    transform-origin: 50px 50px;
    background-image: url("../images/badges-50-sprite@x2.png");
    background-size: 700px 700px;
    /*background: rgba(0, 0, 0, 0) url("../images/badges-50-sprite@x2.png") no-repeat scroll -500px -350px / 700px 700px padding-box border-box;*/
    border: 0px none rgb(36, 36, 36);
    font: normal normal normal normal 14px / normal PremierSans-Regular, Arial, "Helvetica Neue", Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(36, 36, 36) none 0px;
}

.ACM {
    background-position: -50px 0
}

.ADL {
    background-position: -250px -450px
}

.AFW {
    background-position: 0 -50px
}

.AJA {
    background-position: -50px -50px
}

.APO {
    background-position: -100px 0
}

.ARS {
    background-position: -100px -50px
}

.ASI {
    background-position: 0 -100px
}

.AST {
    background-position: -50px -100px
}

.ASY {
    background-position: -100px -100px
}

.ATH {
    background-position: -150px 0
}

.ATM {
    background-position: -150px -50px
}

.AUS {
    background-position: -150px -100px
}

.AVL {
    background-position: 0 -150px
}

.AZ {
    background-position: -50px -150px
}

.B04 {
    background-position: -100px -150px
}

.BAL {
    background-position: -150px -150px
}

.BAR {
    background-position: -200px 0
}

.BAT {
    background-position: -200px -50px
}

.BBV {
    background-position: -200px -100px
}

.BCN {
    background-position: -200px -150px
}

.BEF {
    background-position: 0 -200px
}

.BEL {
    background-position: -50px -200px
}

.BHA {
    background-position: -100px -200px
}

.BIR {
    background-position: -150px -200px
}

.BJK {
    background-position: -200px -200px
}

.BLB {
    background-position: -250px 0
}

.BLP {
    background-position: -250px -50px
}

.BMG {
    background-position: -250px -100px
}

.BOL {
    background-position: -250px -150px
}

.BOR {
    background-position: -250px -200px
}

.BOU {
    background-position: 0 -250px
}

.BRA {
    background-position: -50px -250px
}

.BRE {
    background-position: -100px -250px
}

.BRG {
    background-position: -150px -250px
}

.BRI {
    background-position: -200px -250px
}

.BRR {
    background-position: -250px -250px
}

.BRU {
    background-position: -300px 0
}

.BRY {
    background-position: -300px -50px
}

.BSC {
    background-position: -300px -100px
}

.BSL {
    background-position: -300px -150px
}

.BUR {
    background-position: -300px -200px
}

.BVB {
    background-position: -300px -250px
}

.CAR {
    background-position: 0 -300px
}

.CEL {
    background-position: -50px -300px
}

.CHA {
    background-position: -100px -300px
}

.CHE {
    background-position: -150px -300px
}

.CHF {
    background-position: -200px -300px
}

.CHT {
    background-position: -250px -300px
}

.CLV {
    background-position: -300px -300px
}

.CMU {
    background-position: -350px 0
}

.COU {
    background-position: -350px -50px
}

.COV {
    background-position: -350px -100px
}

.CPH {
    background-position: -350px -150px
}

.CRE {
    background-position: -350px -200px
}

.CRW {
    background-position: -350px -250px
}

.CRY {
    background-position: -350px -300px
}

.CSK {
    background-position: 0 -350px
}

.CUT {
    background-position: -50px -350px
}

.DAG {
    background-position: -100px -350px
}

.DER-new {
    background-position: -150px -350px
}

.DER {
    background-position: -200px -350px
}

.DMK {
    background-position: -250px -350px
}

.DND {
    background-position: -300px -350px
}

.DNR {
    background-position: -350px -350px
}

.DON {
    background-position: -400px 0
}

.DYK {
    background-position: -400px -50px
}

.DZG {
    background-position: -400px -100px
}

.EVE {
    background-position: -400px -150px
}

.EXE {
    background-position: -400px -200px
}

.FCA {
    background-position: -400px -250px
}

.FCB {
    background-position: -400px -300px
}

.FEN {
    background-position: -400px -350px
}

.FEY {
    background-position: 0 -400px
}

.FIO {
    background-position: -50px -400px
}

.FKQ {
    background-position: -100px -400px
}

.FLE {
    background-position: -150px -400px
}

.FUL {
    background-position: -200px -400px
}

.GAL {
    background-position: -250px -400px
}

.GIL {
    background-position: -300px -400px
}

.GRI {
    background-position: -350px -400px
}

.GRO {
    background-position: -400px -400px
}

.HAL {
    background-position: -450px 0
}

.HBS {
    background-position: -450px -50px
}

.HUD {
    background-position: -450px -100px
}

.HUL {
    background-position: -450px -150px
}

.IPS {
    background-position: -450px -200px
}

.JUV {
    background-position: -450px -250px
}

.KAA {
    background-position: -450px -300px
}

.KRA {
    background-position: -450px -350px
}

.KYS {
    background-position: -450px -400px
}

.LAZ {
    background-position: 0 -450px
}

.LEE {
    background-position: -50px -450px
}

.LEG {
    background-position: -100px -450px
}

.LEI {
    background-position: -150px -450px
}

.LEP {
    background-position: -200px -450px
}

.LIB {
    background-position: 0 0
}

.LIV {
    background-position: -300px -450px
}

.LKM {
    background-position: -350px -450px
}

.LNO {
    background-position: -400px -450px
}

.LOK {
    background-position: -450px -450px
}

.LUD {
    background-position: -500px 0
}

.LUT {
    background-position: -500px -50px
}

.LYN {
    background-position: -500px -100px
}

.M05 {
    background-position: -500px -150px
}

.MAN {
    background-position: -500px -200px
}

.MAR {
    background-position: -500px -250px
}

.MCH {
    background-position: -500px -300px
}

.MCI {
    background-position: -500px -350px
}

.MCO {
    background-position: -500px -400px
}

.MFF {
    background-position: -500px -450px
}

.MID {
    background-position: 0 -500px
}

.MIL {
    background-position: -50px -500px
}

.MKD {
    background-position: -100px -500px
}

.MOL {
    background-position: -150px -500px
}

.MOR {
    background-position: -200px -500px
}

.MTA {
    background-position: -250px -500px
}

.MUN {
    background-position: -300px -500px
}

.NAP {
    background-position: -350px -500px
}

.NEW {
    background-position: -400px -500px
}

.NFO {
    background-position: -450px -500px
}

.NHT {
    background-position: -500px -500px
}

.NIC {
    background-position: -550px 0
}

.NKM {
    background-position: -550px -50px
}

.NOR {
    background-position: -550px -100px
}

.NOT {
    background-position: -550px -150px
}

.NWP {
    background-position: -550px -200px
}

.OLD {
    background-position: -550px -250px
}

.OLY {
    background-position: -550px -300px
}

.OSM {
    background-position: -550px -350px
}

.OXF {
    background-position: -550px -400px
}

.PAO {
    background-position: -550px -450px
}

.PBG {
    background-position: -550px -500px
}

.PET {
    background-position: 0 -550px
}

.PLY {
    background-position: -50px -550px
}

.PLZ {
    background-position: -100px -550px
}

.PNE {
    background-position: -150px -550px
}

.POR {
    background-position: -200px -550px
}

.PSG {
    background-position: -250px -550px
}

.PSV {
    background-position: -300px -550px
}

.PTO {
    background-position: -350px -550px
}

.PTV {
    background-position: -400px -550px
}

.QAB {
    background-position: -450px -550px
}

.QPR {
    background-position: -500px -550px
}

.RAP {
    background-position: -550px -550px
}

.RDG {
    background-position: -600px 0
}

.RMA {
    background-position: -600px -50px
}

.RMD {
    background-position: -600px -100px
}

.ROC {
    background-position: -600px -150px
}

.RSB {
    background-position: -600px -200px
}

.RSO {
    background-position: -600px -250px
}

.RSV {
    background-position: -600px -300px
}

.RTH {
    background-position: -600px -350px
}

.RUB {
    background-position: -600px -400px
}

.S04 {
    background-position: -600px -450px
}

.SBR {
    background-position: -600px -500px
}

.SCL {
    background-position: -600px -550px
}

.SCU {
    background-position: 0 -600px
}

.SDK {
    background-position: -50px -600px
}

.SEV {
    background-position: -100px -600px
}

.SHR {
    background-position: -150px -600px
}

.SHU {
    background-position: -200px -600px
}

.SHW {
    background-position: -250px -600px
}

.SIO {
    background-position: -300px -600px
}

.SKE {
    background-position: -350px -600px
}

.SOU {
    background-position: -400px -600px
}

.SPP {
    background-position: -450px -600px
}

.SSL {
    background-position: -500px -600px
}

.STE {
    background-position: -550px -600px
}

.STK {
    background-position: -600px -600px
}

.STU {
    background-position: -650px 0
}

.STV {
    background-position: -650px -50px
}

.SUN {
    background-position: -650px -100px
}

.SWA {
    background-position: -650px -150px
}

.SWI {
    background-position: -650px -200px
}

.TOT {
    background-position: -650px -250px
}

.VAL {
    background-position: -650px -300px
}

.VIL {
    background-position: -650px -350px
}

.WAT {
    background-position: -650px -400px
}

.WBA {
    background-position: -650px -450px
}

.WHU {
    background-position: -650px -500px
}

.WIG {
    background-position: -650px -550px
}

.WIM {
    background-position: -650px -600px
}

.WLS {
    background-position: 0 -650px
}

.WOB {
    background-position: -50px -650px
}

.WOL {
    background-position: -100px -650px
}

.WYC {
    background-position: -150px -650px
}

.YEO {
    background-position: -200px -650px
}

.ZNT {
    background-position: -250px -650px
}

.ZRL {
    background-position: -300px -650px
}

.default {
    background-position: -350px -650px
}


.col-sm-offset-1 {
    margin-left: 0px !important;
}
.player-details div {
    padding: 3px 5px;
    border-bottom: 1px solid #EEE;
}
.player-details div label {
    font-weight: normal !important;
}
.player-details div span {
    float: right;
    margin-right: 5px;
}
.card .green {
    background: #98F398;
}
.card .red {
    background: #f04124;
    color: #FFF;
}

#gwStats .card .cover {
    height: 50px;
}
#gwStats .card-container,#gwStats .front,#gwStats .back {
    height: 320px;
}
ul.clubList {
    margin-top: -45px;
    margin-bottom: 28px;
    float: left;
    margin-left: -18px;
    display: none;
}
.clubList li {
    float: left;
    width: 5%;
    list-style-type: none;
}
.clubList .name {
    display: none;
}
.clubList .club {
    position: relative;
    -webkit-transform: scale(0.6);
}
.clubList .club:hover {
    -webkit-transform: scale(0.8);
}
.clickable {
    cursor: pointer;
}
